body{
  margin: 0;

  nav{
    border: solid red 1px;
    background-color: rgba(22, 246, 172, 0.914);
    display: flex;
    justify-content: space-around;
    ul{
      margin: 0;
      padding-left:0;
      display: flex;
      gap:.8rem;
      li{
        list-style: none;
        margin-left: 15px;
        margin-right: 15px;
      }
    }
    img{
    }
  }
  section{
    display: flex;
    gap: 10px;

    main{
      background-color: rgb(15, 200, 55);
      width: 80%;
      display: flex;
      justify-content: space-around;

      div {
        border: solid 3px red;
        margin: 5px;
        padding: 10px;
        transition:all .9s ease-in-out;      
        img {
          width: 300px;
          height: 245px;
        }
      
      }
    
    }
    aside{
      background-color: rgb(61, 29, 188);
      width: 20%;
      height: 500px;
      display: flex;
      flex-direction: column;
      div{
        border: 2px solid;
        margin-bottom: 30px;
        margin-left: 10px;

      }
      }

  }

    footer{
      width: 96rem;
      height: 220px;
      border: 2px solid black;
      margin-left: 5px;
      margin-top: 5px;
      display: flex;
      
      .left-div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .logo {
          margin-top: 0%;
          width: 250px;
          height: 70px;
        }
        .icon{
          width: 32px;
          height: 60px;

        }

      }

    }

  }

  .flip:hover{
    transform: rotateY(180deg);
   }








